<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog | Edit Articles</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <%- include("../../partials/navbar") %>
        <br />
        <div class="container">
            <div class="card">
            <div class="card-header">
                <h2>Editar Artigo:</h2>
            </div>
            <div class="card-body">
                <br />
                <form method="POST" action="/admin/articles/update">
                    <input
                        class="form-control"
                        type="text"
                        name="title"
                        placeholder="Defina o título do artigo!"
                        value="<%= article.title %>"
                    />
                    <br/> 

                    <textarea
                        id="article"
                        name="body"
                        rows="20"  
                        class="form-control" 
                        placeholder="Escreva o artigo aqui!"
                    > <%= article.body  %> </textarea>

                    <br />
                    <label>Categoria:</label>
                    <select name="categoryId" class="form-control">
                        <% categories.forEach((category) => { %> 
                            <% if(category.id == article.categoryId) {%>
                                <option value="<%= category.id  %>"selected><%= category.title %></option>
                            <% }else { %>
                                <option value="<%= category.id  %>"><%= category.title %></option>
                            <% } %> 
                        <% }) %>  
                    </select>
                    <br />
                    <input type="hidden" name="id" value="<%= article.id  %> ">
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
        </div>
    </body>
    <%- include("../../partials/scripts") %>
    <script src="/tinymce/tinymce.min.js"></script>
    <script>

        tinymce.init({
            selector: "#article",
            language: 'pt_BR',
            plugins: [
                'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
            ],
        })
        
    </script>
    </html>